nav {
  padding: 8px;
  justify-content: center;
  align-items: center;
  z-index: 1;
 display: flex;
}

ul {
  box-sizing: border-box;
  
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 8px;
  gap: 4px;
 
  background-color: var(--secondary-color);
  border-radius: 12px;
}

li {
  float: left;
  border-radius: 8px;
}

li a {
  display: block;
  color: var(--primary-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 8px;
}

li a:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border-radius: 8px;
}

li a.active {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  border-radius: 8px;
}