<nav class="nav">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active"><i class="ri-arrow-right-up-line"></i>Home</a></li> 
      <li><a routerLink="/about" routerLinkActive="active" ><i class="ri-arrow-right-up-line"></i>About</a></li>
      <li><a routerLink="/projects" routerLinkActive="active"><i class="ri-arrow-right-up-line"></i>Proyectos</a></li>
      <li><a routerLink="/experience" routerLinkActive="active"><i class="ri-arrow-right-up-line"></i>Experiencia</a></li>
      <li><a routerLink="/contact" routerLinkActive="active" ><i class="ri-arrow-right-up-line"></i>Contacto</a></li>
    </ul>
  </nav>

  