<div class="layout">
  <div class="hero">
    <div class="hero-content">
      
      <img src="assets/Iconos/Presentacion.svg" alt="Foto de perfil de Noelia Valle, diseñadora UX/UI" class="hero-image">

      <div class="texts"> 
        <h1 class="hero-title">Noelia Valle</h1>
        <p class="hero-subtitle">Diseñadora UX/UI</p>
      </div>
      
      <div class="hero-buttons">
        <button (click)="downloadCV()">
          <i class="ri-download-2-line"></i> Descargar CV
        </button>
      </div>
    </div>
    
  </div>
  
</div>