<div class="container-profile">
    <div class="profile">
      <img src="assets/profile.jpg" alt="Foto de perfil">
      <h1>Noelia Valle</h1>
      <h2>DISEÑO UX/UI</h2>
    </div>
    
    <div class="social-links">
      <a href="https://www.linkedin.com/in/noegraf/" target="_blank" aria-label="LinkedIn">
        <i class="ri-linkedin-box-line"></i>
      </a>
      <a href="https://github.com/noegraf" target="_blank" aria-label="GitHub">
        <i class="ri-github-fill"></i>
      </a>
      <a href="https://www.behance.net/noegraf" target="_blank" aria-label="Behance">
        <i class="ri-behance-line"></i>
      </a>
      <!-- Agrega más redes si lo considerás -->
    </div>
    
    <button (click)="downloadCV()">
      <i class="ri-download-2-line"></i> Descargar CV
    </button>
  </div>
  